h1, h2, h3, h4, h5 {
  margin-top: 3px;
  margin-bottom: 3px;
}

h4 {
  font-size: 1.3em;
}

ul {
  list-style-type: none;
}

#map {
  height: 100vh;
  width: 100vw;
}

#streetview {
  border: solid 2px #4285f4;
  height: 200px;
  min-width: 320px;
}

#streetview .gm-style-cc {
  display: none !important;
}

#attribution-foursquare {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 15px;
  text-align: center;
}

#attribution-foursquare-img {
  height: 30px;
  max-width: 100%;

}

.alert-container {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  transform: translateY(-50%);
}

.alert {
  text-align: center;
}

/**
 * NEW LIST CSS
 */
#places-container {
  position: absolute;
  top: 0;
  width: 100%;
  max-width: 480px;
  padding: 5px;
  max-height: calc(100vh - 50px);
  overflow-y: auto;
}

/* Container End */

#list-filter-controls {
  background-color: #fff;
  border: solid 1px #ccc;
  margin: 0 auto;
}

.list-control-group {
  width: 100%;
}

.list-control {
  color: #4285f4;
  width: 50%;
  border: none;
  border-radius: 0px;
  margin: 0 auto !important;
}

.selected {
  background-color: #efefef;
  box-shadow: inset 0px 1px 1px 1px #4285f4;
}

.btn:focus,
.btn:active,
.btn:active:focus {
  border: none;
  outline: none;
}

/* Controls End */

#list-filter-container {
  border-top: solid 1px #ccc;
  border-right: solid 1px #ccc;
  border-bottom: none;
  border-left: solid 1px #ccc;
}

#list-filter-input {
  width: 100%;
  padding: 0 5px;
  height: 32px;
  border-radius: 0px;
  border: none;
  font-variant: small-caps;
}

#list-filter-input:focus {
  outline: none;
}

/* Filter End */

#list-container {
  max-height: 0px;
  margin-top: -1px;
  overflow-y: auto;
  border: none;
  transition: max-height .5s linear;
}

.list-expanded {
  max-height: calc(100vh - 158px) !important;
  border: solid 1px #ccc !important;
}

#list-places {
  max-width: 480px;
  max-height: 1000%;
  background-color: #fff;
}

.list-place {
  padding: 2px;
  font-size: 1em;
  border-bottom: solid 1px #ccc;
}

.list-place:hover {
  cursor: pointer;
  background-color: rgba(66, 133, 244, 0.25);
  color: #4285f4 !important;
  outline: solid 1px #4285f4;
}

.list-place-name {
  display: inline-block;
  max-width: 60%;
  font-weight: normal;
}

.list-place-category {
  display: inline-block;
  max-width: 40%;
  float: right;
  margin-right: 10px;
}

.list-place-verified {
  font-size: .9em;
}

/* List End */
.list-pulldown-container {
  display: block;
  margin: 1px auto 0px;
  width: 80px;
}

.list-pulldown-container:hover {
  cursor: pointer;
}

.list-pulldown {
  height: 0px;
  color: #333;
  line-height: 30px;
  text-align: center;
}

.list-pulldown-border {
  width: 80px;
  display: block;
  margin: -1px auto;
  border-top: solid 30px #4285f4;
  border-left: solid 10px transparent;
  border-right: solid 10px transparent;
}

.glyphicon {
  color: #fff;
}

/**
 * END LIST CSS
 */

.info {
  text-align: center;
  overflow-y: auto;
  max-height: 340px;
}

.info-title {
  padding: 0 5px;
}

.info-checkins {
  width: 50%;
  float: left;
}

.gm-style-iw {
  text-align: center;
}

.credits {
  position: fixed;
  bottom: 0px;
  background-color: rgba(255, 255, 255, .9);
  padding: 5px;
  border-radius: 3px;
}

/**
 * Google Map classes/id
 */
.gm-iv-address {
  display: none !important;
}

.widget-scene-canvas {
  width: 100% !important;
}

@media screen and (max-height: 675px) {
  #streetview {
    height: 160px;
    min-width: 220px;
  }

  .info {
    max-height: 340px;
  }
}

@media screen and (max-width: 480px) {
  .info {
    max-width: 230px;
  }
}