ul {
  list-style-type: none;
}

#map {
  height: 100vh;
  width: 100vw;
}

#streetview {
  height: 200px;
  min-width: 320px;
}

/**
 * NEW LIST CSS
 */
#places-container {
  position: absolute;
  top: 0;
  width: 100%;
  max-width: 480px;
  padding: 5px;
  max-height: 300px;
  overflow-y: auto;
}

/* Container End */

#list-filter-controls {
  background-color: #fff;
  border: solid 1px #ccc;
  margin: 0 auto;
}

.list-control-group {
  width: 100%;
}

.list-control {
  width: 50%;
  border: none;
  border-radius: 0px;
  margin: 0 auto;
}

.selected {
  background-color: #efefef;
  box-shadow: inset 0px 1px 1px 1px #777;
}

.btn:focus,
.btn:active,
.btn:active:focus {
  border: none;
  outline: none;
}

/* Controls End */

#list-filter-container {
  border: solid 1px #ccc;
}

#list-filter-input {
  width: 100%;
  padding: 0 5px;
  height: 32px;
  border-radius: 0px;
  border: none;
}

#list-filter-input:focus {
  outline: none;
}

/* Filter End */

#list-container {
  max-height: 0px;
  margin-top: -1px;
  overflow-y: auto;
  border: none;
  transition: max-height .5s linear;
}

.ptm-list-expanded {
  max-height: 192px !important;
  border: solid 1px #ccc !important;
}

#list-places {
  max-width: 480px;
  max-height: 1000%;
  background-color: #fff;
}

.list-place {
  padding: 2px;
  font-size: 1em;
}

/* List End */
.list-pulldown-container {
  display: block;
  margin: -1px auto 0px;
  width: 80px;
}

.list-pulldown-container:hover {
  cursor: pointer;
}

.list-pulldown {
  height: 0px;
  color: #333;
  line-height: 30px;
  text-align: center;
}

.list-pulldown-border {
  width: 80px;
  display: block;
  margin: 0 auto;
  border-top: solid 30px #fff;
  border-left: solid 10px transparent;
  border-right: solid 10px transparent;
}

/**
 * END LIST CSS
 */

.info {
  text-align: center;
}

.info-title {
  padding: 0 5px;
}

.gm-style-iw {
  text-align: center;
}

.credits {
  position: fixed;
  bottom: 0px;
  background-color: rgba(255, 255, 255, .9);
  padding: 5px;
  border-radius: 3px;
}

/**
 * Google Map classes/id
 */
.gm-iv-address {
  display: none !important;
}